<!DOCTYPE html>
<html>
  
  <head>
  <title>Bob's Burgers</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>

  <body>
    {% include 'navbar.html' %}  
    <div class="container">
        <h1 style="padding-top:10px;padding-bottom:10px;">Is this address correct?</h1>
        <div class="form-outline" style="padding-bottom:10px;">
            <h3>{{address}}</h3>
        </div>
        <a class="btn btn-success btn-lg" href="{{url_for('order_operations.payment_checkout')}}">Use Address</a>
        <a class="btn btn-outline-secondary btn-lg" href="{{url_for('order_operations.set_address')}}">Update Address</a>
    </div>
    </div>
    {% include 'footer.html' %}
  </body>
  
</html>