<!DOCTYPE html>
<html>
  
  <head>
  <title>Bob's Burgers</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>

  <body>
    {% include 'navbar.html' %}  
    <div class="container">
      <h1 style="padding-top:10px;padding-bottom:10px;">Track Order</h1>
      {% for error in errors %}
        <li>{{error}}</li>
      {% endfor %}
      <form class="needs-validation" method="get" action="/view_order">
      <div class="form-outline w-50" style="padding-bottom:10px;">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Order Number</span>
          <input type="number" class="form-control" aria-label="orderNumber" aria-describedby="basic-addon1" name="id" required>
        </div>
      </div>
      <button class="btn btn-outline-success btn-lg" type="submit">Lookup</button>
    </div>
  </form>
    {% include 'footer.html' %}
  </body>
  
</html>